@import "constants";

$width: 350px;
$height: 350px;
$modal-form-zindex: 10;

.overlay {
    z-index: $modal-form-zindex; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
    position: fixed; /* всегда перекрывает весь сайт */
    background-color: $black; /* черная */
    opacity: 0.8; /* но немного прозрачна */
    width: $full-size; 
    height: $full-size; /* размером во весь экран */
    top: 0; 
    left: 0; /* сверху и слева 0, обязательные свойства! */
    cursor: pointer;
    display: none; /* в обычном состоянии её нет) */
}

.modal {
    width: $width; 
    height: $height; /* Размеры должны быть фиксированы */
    border-radius: 20px;
    border: 3px solid $bright-orange;
    outline: none;
    box-shadow: 0 0 50px #d9ff0e;
    
    background: radial-gradient(#081426, #36598a);
    position: fixed; /* чтобы окно было в видимой зоне в любом месте */
    top: $half-size; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
    left: $half-size; /* половина экрана слева */
    margin-top: -($height/2) - 20;
    margin-left: -($width/2); /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
    display: none; /* в обычном состоянии окна не должно быть */
    opacity: 0; /* полностью прозрачно для анимирования */
    z-index: $modal-form-zindex + 1; /* окно должно быть наиболее большем слое */
    padding: 20px 10px;

    &__header {
        position: relative;
        padding: 50px 5px;
    }

    &__footer {
        position: relative;
        padding: 20px 5px;
    }
}