// SIZES
$full-size: 100%;
$half-size: 50%;
$null-size: 0;

// COLORS
$white: #ffffff;

$green: #2EB82E;
$lime-green: #78da00;
$strong-green: #78ba00;

$orange: #FFA200;
$bright-orange: #FCBE2B;

$cyan: #3f9db8;
$light-cyan: #56c2e1;
$moderate-cyan: #46b3d3;
$dark-grayish-cyan: #678889;
$very-dark-grayish-cyan: #414848;

$light-gray: #d4dedf;

$soft-pink: #f676b2;

// FONTS
$default-font-weight: 200;
$rich-font-weight: 400;

// BORDERS
$default-border-radius: 5px;
