$white: #ffffff;
$greeny: #2EB82E;

$full-size: 100%;
$base-gap: 10px;
$base-size: 10px;
$base-br: 20px;
$font-weight: 400;

.panel {
    margin-top: $base-gap;
    margin-bottom: $base-gap;
    right: $base-size;
    left: $base-size;
    min-width: $full-size;
    height: $base-size * 4;
    background: $greeny;
    border-radius: $base-br;
}

.bar {
    margin-left: $base-gap;
    margin-top: $base-gap;
    display: inline-block;
    float: left;
    font-weight: $font-weight;
    font-size: 14px;
    color: $white;
    text-align: center;
}

@mixin base-text($font-size) {
    text-align: center;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $white;
}

.gamepage__header {
    @extend .panel;

    &__infobar_status {
        @extend .bar;
    }
}

.gamepage__body {
    @include base-text(30px);

    margin-top: $base-gap;
    margin-bottom: $base-gap;
    right: $base-size * 10;
    left: $base-size * 10;
    //	background: url(../images/tentacle.png) repeat;
    height: $base-size * 45;
    border-radius: $base-br / 4;
}

.gamepage__menu__infobar__menu-btn {
    @include base-text(14px);

    margin-top: $base-gap / 2;
    margin-right: $base-gap * 3;
    width: $base-size * 6;
    height: $base-size * 5/2;
    float: right;
    border-radius: $base-br * 2;
    background: #FCBE2B;
    border: 1px solid #FFA200;
}

.gamepage__footer {
  @extend .panel;

    &__controlbar {
        @extend .bar;

        &__menu-btn {
          @extend .panel;
        }
    }
}