@import "constants";

/*******************
FONTS
*******************/

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
SELECTION STYLING
*******************/

.selection {
  color: $white;
  background: $soft-pink;
}

::selection {
    @extend .selection; /* Safari */
}
::-moz-selection {
    @extend .selection; /* Firefox */
}

/*******************
BODY STYLING
*******************/

* {
	margin: $null-size;
	padding: $null-size;
	border: $null-size;
}

body {
	background: url(../images/bg.png) repeat;
	font-family: $default-font-family;
	font-weight: $default-font-weight;
	text-align: left;
	text-decoration: none;
}

.wrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	position: absolute;
	left: $half-size;
	top: $half-size;
	margin-left: -150px;
	margin-top: -200px;
}

.wrapper-top {
  @extend .wrapper;
}

.gradient {
	/* Center Positioning */
	width: 600px;
	height: 600px;
	position: fixed;
	left: $half-size;
	top: $half-size;
	margin-left: -300px;
	margin-top: -300px;
	
	/* Fallback */ 
	background-image: url(../images/gradient.png); 
	background-repeat: no-repeat; 
	
	/* CSS3 Gradient */
	background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(rgba(213,246,255,1)), to(rgba(213,246,255,0)));
	background-image: -webkit-radial-gradient(50% 50%, 40% 40%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -moz-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -ms-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
	background-image: -o-radial-gradient(50% 50%, 50% 50%, rgba(213,246,255,1), rgba(213,246,255,0));
}

/*******************
 FORM
*******************/

.form {
    @include box-shadow(3px, 0.5);
    @include border-radius(5px);

	margin: 0 auto;
	position: relative;
	z-index: 5;
	border: 1px solid $white;
	background: #f3f3f3;
}

/*******************
HEADER
*******************/

.form__header {
	padding: 40px 30px 30px 30px;

    &__h1 {
        font-family: $link-font-family;
        font-weight: $default-font-weight;
        font-size: 30px;
        line-height:35px;
        color: $very-dark-grayish-cyan;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
        margin-bottom: 10px;
    }

    &__span {
        font-size: 10px;
        line-height: 15px;
        color: $dark-grayish-cyan;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    }
}

/*******************
CONTENT
*******************/

.form__content {

	padding: 0 30px 25px 30px;

    &__label {
        font-family: $link-font-family;
        font-size: $content-font-size;
        line-height: 15px;
        color: $dark-grayish-cyan;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    }

    &__input {
        @include box-shadow-inset(3px, 0.5);
        @include border-radius(5px);

        width: 188px;
        padding: 15px 25px;

        font-family: $default-font-family;
        font-weight: $rich-font-weight;
        font-size: $content-font-size;

        color: $dark-grayish-cyan;
        text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

        background: $white;
        border: 1px solid $white;

        &_password {
            margin-top: 25px;
        }

        &:hover {
            background: $light-grayish-cyan;
            color: $very-dark-grayish-cyan;
        }

        &:focus {
            @include box-shadow-inset(2px, 0.25);
            background: $light-grayish-cyan;
            color: $very-dark-grayish-cyan;
        }
    }

    &__row {
        @include border-radius(6px);

        padding: 10px 10px 5px 10px;
        margin-bottom: 10px;
        background-color: $very-light-gray;
        overflow: hidden;

        &_fixed {
          height: 40px;
        }
    }

    &__menu-item {
        @include border-radius(6px);

        padding: 5px 10px 5px 10px;
        margin-bottom: 10px;
        background-color: $very-light-gray;

        &:hover {
            background-color: #c0c0c0;
        }

        &__link {
            padding: 5px;
            margin-right: 5px;

            background: none;
            border: none;
            cursor: pointer;

            font-family: $link-font-family;
            font-weight: $default-font-weight;
            font-size: 20px;
            color: $very-dark-grayish-cyan;
            text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.user-icon, .pass-icon, .pass-icon2 {
    @include border-radius(5px);

    width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: 3;
}

.user-icon {
	top:137px; /* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65,72,72,0.75) url(../images/user-icon.png) no-repeat center;	
}

.pass-icon {
	top:211px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}

.pass-icon2 {
	top:285px;
	background: rgba(65,72,72,0.75) url(../images/pass-icon.png) no-repeat center;
}


/* Animation */
.form__content__input, .user-icon, .pass-icon,
.pass-icon2, .form__footer__button {
	@include animation(0.5s);
}

/*******************
FOOTER
*******************/

.form__footer {
	padding: 25px 30px 40px 15px;
	overflow: auto;
	
	background: $light-gray;
	border-top: 1px solid $white;

    @include box-shadow-inset(0, 0.15);
}


input::-moz-focus-inner {
  border:0;
}



/*******************
ERROR INFO
*******************/

.alert {
  @include border-radius(4px);

  display: none;
  padding: 8px 35px 8px 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

  border: 1px solid $light-grayish-orange;
}

.alert-error {
  @extend .alert;

  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-success {
  @extend .alert;

  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

